.header {
  width: 100%;
  height: 400px;
  background: url('../../images/justin.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  h1 {
    margin: auto;
    color: white;
    display: inline;
    font-size: 60pt;
  }
}
